/* font for the company name */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* font for the page  */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* variables */

:root {
    --color-white: rgb(255, 255, 255);
    --color-black: rgb(0, 0, 0);
    --color-grey: rgba(86, 86, 86, 0.537);
}


/* keyframes */

@keyframes navhover {
    from {
        background-color: rgb(255, 255, 255, 1);
    }

    to {
        border: .5px solid var(--color-white);
        background-color: rgb(255, 255, 255, 0);
    }
}



/* universal selector */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    list-style: none;
    text-decoration: none;
    color: var(--color-white);
}


/* body - fully covered bg-img  */

body {
    background: url('../img/main-img2.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* header */

/* display flex */
header, .header-div, #nav-div ul, #review-div, #review-div ul,
#profile-div {
    display: flex;
}

header {
    justify-content: space-between;
    height: 5em;
}

.header-div {
    justify-content: space-around;
    align-items: center;
    height: 3em;
}


/* logo div */

#logo-div img {
    height: 2em;
}

#logo-div h3 {
    font-family: "Bebas Neue", sans-serif !important;
    font-size: 1.5em;
    margin-top: 6px;
}


/* nav bar */

#nav-div ul, #contact-div {
    justify-content: space-between;
    height: 2.5em;
}

#nav-div li {
    padding: 5px;
    background-color: var(--color-white);
}


#nav-div li a {
    display: inline-block;
    color: var(--color-black);
    height: 2em;
    padding: 5px;
}


#nav-div li:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#nav-div li:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* hower effect on buttons  */
#nav-div li:hover, #contact-div a:hover,
#section-contact-div a:hover, #section-contact-div button:hover {
    animation: navhover 1s ease-in-out  both;
}

#nav-div li:hover a, #contact-div a:hover.header-div,
#section-contact-div a:hover, #section-contact-div button:hover {
    color: var(--color-white);
    transition: color .5s ease-in-out;
}

/* header - contact  */
#contact-div {
    align-items: center;
}

#contact-div p {
    color: var(--color-black);
    font-size: 1.2em;
    font-weight: 500;
    margin: 5px;
}

#contact-div a, #section-contact-div a, #section-contact-div button {
    padding: 5px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: var(--color-white);
    color: var(--color-black);
}

/* main section */

section {
    margin: 2em;
}

#section-h1, #section-p {
    margin: .5em 0;
}

#section-h1 {
    font-size: 4em;
}

#section-p{
    font-size: 1.5em;
}

#section-contact-div {
    height: 3em;
}

#google-icon {
    height: 2.5em;
}

#review-list img {
    height: 1.5em;
}

#review-list {
    height: 2em;
    width: 8em;
}

#review-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


#review-details p {
    margin: 0 5px;
}

#review-score {
    margin-top: 5px;
}

/* different pages shadier background */
.body-div {
    height: 100vh;
    background-color: var(--color-grey);
}

/* about */

main {
    width: 90%;
    margin: 0 auto;
}

main h1, main p, main h2 {
    margin: 10px 0;
}

 #main-p { 
    font-size: 1em;
    width: 70%;
}


#profile-div {
    justify-content: space-between;
    align-content: center;
}

.profile {  
    width: 15em;
    margin: 0 auto;
    text-align: center;
}

.profile img {
    height: 5em;
}

.profile h5 {
    font-size: 1.5em;
}

.profile h6 {
    font-size: 1em;
    font-weight: normal;
}

.profile p {
    font-size: .8em;
}

/* project page */

#project-main img {
    height: 16em;
    width: 11em;
}

/* review page */

#review-main #profile-div {
    margin-top: 3em;
}

#review-main img {
    height: 3em;
}