/* font for the company name */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* font for the page  */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* keyframes */

@keyframes navhover {
    from {
        background-color: rgb(255, 255, 255, 1);
    }

    to {
        border: .5px solid white;
        background-color: rgb(255, 255, 255, 0);
    }
}



/* universal selector */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    list-style: none;
    text-decoration: none;
    color: white;
}


/* body - fully covered bg-img  */

body {
    background: url('../img/main-img2.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* header */

header, .header-div, #nav-div ul {
    display: flex;
}

header {
    justify-content: space-between;
    height: 10em;
}

.header-div {
    justify-content: space-around;
    align-items: center;
    height: 3em;
}


/* logo div */

#logo-div img {
    height: 2em;
}

#logo-div h3 {
    font-family: "Bebas Neue", sans-serif !important;
    font-size: 1.5em;
    margin-top: 6px;
}


/* nav bar */

#nav-div ul, #contact-div {
    justify-content: space-between;
    height: 2.5em;
}

#nav-div li {
    padding: 5px;
    background-color: white;
}


#nav-div li a {
    display: inline-block;
    color: black;
    height: 2em;
    padding: 5px;
}


#nav-div li:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#nav-div li:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* hower effect on buttons  */
#nav-div li:hover, #contact-div a:hover {
    animation: navhover 1s ease-in-out  both;
}

#nav-div li:hover a, #contact-div a:hover {
    color: white;
    transition: color .5s ease-in-out;
}

/* header - contact  */
#contact-div {
    align-items: center;
}

#contact-div p {
    color: black;
    font-size: 1.2em;
    font-weight: 500;
    margin: 5px;
}

#contact-div a {
    padding: 5px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: white;
    color: black;
}

